<div class="content">
  <h2>Implement me!</h2>
</div>

<style>
  .content {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 80px;
  }
</style>
