@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(30px);
  }
}

@keyframes slide-down {
  to {
    transform: translateY(-30px);
  }
}

/* ::page-transition-outgoing-image(root), */
::page-transition-outgoing-image(product-info) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-down;
}

/* ::page-transition-incoming-image(root), */
::page-transition-incoming-image(product-info) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-up;
  animation-delay: 250ms;
}

/* ::page-transition-incoming-image(product-info) {
  animation-delay: 300ms;
} */

.product-image {
  page-transition-tag: product-image;
  contain: paint;
}

.product-bg {
  page-transition-tag: product-bg;
  contain: paint;
}

.product-info {
  page-transition-tag: product-info;
  contain: paint;
}
