@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(30px);
  }
}

@keyframes slide-down {
  to {
    transform: translateY(-30px);
  }
}

::view-transition-old(product-info) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-down;
}

::view-transition-new(product-info) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-up;
  animation-delay: 250ms;
}

::view-transition-old(page-header),
::view-transition-new(page-header) {
  animation-duration: 0s;
}

::view-transition-group(page-header) {
  z-index: 1;
}

::view-transition-group(product-image),
::view-transition-group(close-button) {
  z-index: 2;
}

.page-header {
  view-transition-name: page-header;
  contain: paint;
}

.product-image {
  view-transition-name: product-image;
  contain: paint;
}

.product-bg {
  view-transition-name: product-bg;
  contain: paint;
}

.product-info {
  view-transition-name: product-info;
  contain: paint;
}

.close-button {
  view-transition-name: close-button;
  contain: paint;
}
