<section class="content content--related">
  <p>
    Demo by <a href="https://www.maxiferreira.com" target="_blank"
      >Maxi Ferreira</a
    >. Find this project on <a href="https://github.com/Charca/astro-music"
      >GitHub</a
    >.
  </p>
  <p>
    Based on the Codrops article
    <a
      href="https://tympanus.net/codrops/2017/11/08/expanding-grid-item-animation/"
      target="_blank"
    >
      Expanding Grid Item Animation
    </a> by <a
      href="https://tympanus.net/codrops/author/crnacura/"
      target="_blank">Mary Lou</a
    >.
  </p>
  <p>
    Header animation by <a
      href="https://codepen.io/plavookac/pens/public"
      target="_blank"
      >Jelena Jovanovic
    </a>. Guitar vector <a href="http://www.freepik.com" target="_blank"
      >designed by Freepik</a
    >. Patterns by <a href="https://pixelbuddha.net/" target="_blank"
      >Pixel Buddha</a
    >.
  </p>
</section>
