<section class="content content--related">
  <p>
    Based on the Codrops article
    <a
      href="https://tympanus.net/codrops/2017/11/08/expanding-grid-item-animation/"
    >
      Expanding Grid Item Animation
    </a> by <a href="https://tympanus.net/codrops/author/crnacura/">Mary Lou</a>
  </p>
  <p>
    Find this project on <a href="https://github.com/Charca/astro-music"
      >GitHub</a
    >.
  </p>
  <p>
    Guitar vector <a href="http://www.freepik.com">designed by Freepik</a>.
  </p>
  <p>Patterns by <a href="https://pixelbuddha.net/">Pixel Buddha</a>.</p>
</section>
