<div class="home-info">
  <details>
    <summary>
      <span role="img" aria-label="More information" class="badge">
        <svg
          class="info-icon"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
      </span>
    </summary>
    <div class="expanded-info">
      This website is a demo of the <a
        href="https://developer.chrome.com/docs/web-platform/navigation-api/"
        target="_blank">Navigation</a
      > and <a
        href="https://developer.chrome.com/blog/shared-element-transitions-for-spas/"
        target="_blank">Shared Element Transition</a
      > APIs. For a better experience, use <strong>Chrome 104</strong> or later and
      enable the <strong>chrome://flags/#document-transition</strong> flag.
    </div>
  </details>
</div>

<style>
  .home-info {
    line-height: 1.5;
    position: absolute;
    right: 5em;
    top: -8em;
  }

  .home-info details {
    display: block;
    position: relative;
  }

  .home-info summary {
    display: block;
    cursor: pointer;
  }

  .info-icon {
    width: 36px;
    height: 36px;
  }

  .expanded-info {
    position: absolute;
    width: 455px;
    padding: 1.2em 2em;
    right: 0;
    background-color: #ede9fe;
    top: 3em;
    right: 8px;
    border: 2px dashed #5b21b6;
  }
</style>
