<h2>Tech Specs</h2>
<ul>
  <li><strong>Body Type —</strong> Solidbody, Modern Weight Relief</li>
  <li><strong>Body Shape —</strong> Matt Heafy Les Paul Custom</li>
  <li><strong>Body Material —</strong> Mahogany</li>
  <li><strong>Top Material —</strong> Maple</li>
  <li><strong>Body Finish —</strong> Gloss</li>
</ul>

<style>
  h2 {
    margin-top: 34px;
  }
  ul {
    padding: 0 20px;
  }
  li {
    line-height: 1.5em;
  }

  @media screen and (max-width: 40em) {
    ul {
      max-width: 70%;
    }
  }
</style>
