<div class="o-media__body">
  <div class="o-vertical-spacing">
    <h3 class="blog-post__headline">
      <span class="skeleton-box" style="width:55%;"></span>
    </h3>
    <p>
      <span class="skeleton-box" style="width:80%;"></span>
      <span class="skeleton-box" style="width:90%;"></span>
      <span class="skeleton-box" style="width:83%;"></span>
      <span class="skeleton-box" style="width:80%;"></span>
    </p>
    <div class="blog-post__meta">
      <span class="skeleton-box" style="width:200px;"></span>
    </div>
  </div>
</div>

<style>
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .skeleton-box {
    display: inline-block;
    height: 1.3em;
    position: relative;
    overflow: hidden;
    background-color: #dddbdd;
  }

  .skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }
  .blog-post__headline {
    font-size: 1.25em;
    font-weight: bold;
  }
  .blog-post__meta {
    font-size: 3em;
    color: #6b6b6b;
  }

  .o-media {
    display: flex;
  }

  .o-media__body {
    flex-grow: 1;
  }

  .o-vertical-spacing > * + * {
    margin-top: 1.2em;
  }

  .o-vertical-spacing--l > * + * {
    margin-top: 2em;
  }
</style>
