---
import Counter from '../components/Counter.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/styles.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      import '../scripts/spa-navigation.js'
    </script>
  </head>
  <body>
    <main>
      <!-- <Counter /> -->
      <Header />
      <div id="content">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>
